<!doctype html>
<html>
<head>
    <title>{% block title %}TITLE GOES HERE{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>

<!-- This page needs a form that can capture data about the user's
first name, last name, job title, and salary requirements. -->
<div class="container">
    {% block content %}
    CONTENT GOES HERE
    {% endblock %}
</div>

</body>
</html>